/*======= Style pour les formulaires, boutons, zones de texte, ... ========*/

.xo-block form {
	margin:						0px;
	padding:						0px;
}
#xo-content form {
	margin:						0px;
	background:					transparent;
}
.xo-block .formButtons {
	text-align:					center;
	padding:						.5em;
}
label {
	display:						block;
	padding:						0px;
	background:					transparent;
}
.xo-formfield {
	margin-bottom:				.2em;
	background:					transparent;
}
.xo-formbuttons {
	font-family: 				Geneva, Arial, Helvetica, sans-serif;
	color: 						#CE4713;
	background-color: 		transparent;
	font-size:					.9em;
	font-weight: 				800;
	border: 						1px solid #CE4713;
	font-variant: 				small-caps;
}
#xo-content .xo-formfield.required label:after {
	content:						'*';
	color:						#ff0000;
	background-color: 		#000;
}
select {
	background-color: 		#000;
	color: 						#C7A312;
	font-size: 					.9em;
	border: 						1px solid #000;
}
select[name=timezone_offset] {
	color: 						#C7A312;
	font-size:					.9em;
	background-color:			#000;
}
input[type=text], input[type=password], textarea {
	border:						1px solid #CE4713;
	margin:						2px 0px;
	padding-left:				.2em;
	background-color: 		transparent;
	color: 						#C7A312;
}
input[type=text], input[type=password] {}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color:				#CE4713;
	outline:						1px solid #CE4713;
}
textarea { width: 			95%;}